<div id="profile" class="page-layout simple tabbed page-transition-top">
  <div id="about" class="" fxLayout="row wrap" [ngClass.xl]="'p-24 px-32'" [ngClass.lg]="'p-24 px-32'" [ngClass.md]="'p-24 px-32'"
    [ngClass.sm]="'p-16'" [ngClass.xs]="'p-8'">

    <div fxLayout="column" fxFlex="100" fxLayoutAlign="end end" fxLayoutAlign.xs="start" fxFlex.xs="100"
      fxLayout.xs="column" class="mt-0 mb-8 donot_print" [ngClass.xs]="'mt-16'">
      <div fxLayout="row" fxFlex.md="100">
        <a class="cursor" [routerLink]="['/projects/client']"> <span class="font-weight-600">
            <mat-icon aria-hidden="false" aria-label="current project" class="zoom s-16 condo-red-text">arrow_back
            </mat-icon> BACK TO MY PROJECTS
          </span></a>
      </div>
    </div>

    <div class="mt-16" fxLayout="column" fxLayoutAlign="start" fxFlex="100">
      <mat-tab-group selectedIndex={{selectedTabIndex}} (selectedTabChange)="changeTab($event)" dynamicHeight>
        <mat-tab>
          <ng-template mat-tab-label>
            <div class="donot_print">
              <mat-icon aria-hidden="false" aria-label="project posting" class="mr-8 zoom">description </mat-icon>
              <span>PROJECT POSTING</span>
            </div>
          </ng-template>
          <project-posting *ngIf="selectedTabIndex === 0"></project-posting>
        </mat-tab>


        <mat-tab [disabled]='isProjectActive'>
          <ng-template mat-tab-label>
            <div class="donot_print">
              <mat-icon aria-hidden="false" aria-label="bidding results" class="mr-8 zoom">swap_horiz</mat-icon>
              <span>BIDDING RESULTS</span>
            </div>
          </ng-template>
          <bidding-results *ngIf="selectedTabIndex === 1" (messageToEmit)="bidSelected($event)" ></bidding-results>
        </mat-tab>

        <mat-tab [disabled]='isProjectActive'>
          <ng-template mat-tab-label>
            <div class="donot_print">
              <mat-icon aria-hidden="false" aria-label="award decision" class="mr-8 zoom">verified_user</mat-icon>
              <span>AWARD DECISION</span>
            </div>
          </ng-template>
          <award-details [selectedBid]="selectedBidData" *ngIf="selectedTabIndex === 2"></award-details>
        </mat-tab>
      </mat-tab-group>

    </div>
  </div>
</div>
