





<div fxLayout="row" fxLayoutAlign="space-between flex-start" class="mt-32" [ngClass.lg]="'mb-0'" [ngClass.md]="'mb-0'" [ngClass.sm]="'mb-8'" [ngClass.xs]="'mb-0'">
    <div class="">
        <div class="h2 condo-gray-text">Billing Information</div>
    </div>
    <div fxLayout="row">                     
    </div>
</div>

<!-- Company Info Section Starts -->
<div class="" fxLayout="row" fxLayout.sm="row" fxLayout.xs="column">
    <!-- Left Section Starts -->
    <div fxFlex="50" class="mat-card mat-elevation-z p-32 mt-16"  fxFlex.sm="50" fxFlex.xs="100" [ngClass.lg]="'mr-8'" [ngClass.md]="'mr-8'" [ngClass.sm]="'mr-8'">
        <div class="" fxLayout="column">
            <div class="mat-card mat-elevation-z mr-24">

                <div class="" fxLayout="column">
                    <div class="pr-16 mb-16">
                        <div class="h3 font-weight-600">BILLING ADDRESS                                  
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign.sm="start" fxLayoutAlign.xs="start" fxLayoutAlign="start flex-start" fxFlex="1 0 auto" class="my-16">
                        <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" [ngClass.sm]="'mb-16'" [ngClass.xs]="'mb-16'">
                            <div class="h5 condo-gray-text mb-4">STREET ADDRESS</div>                                    
                            <div class="h4">--</div>                                               
                        </div>

                        <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
                            <div class="h5 condo-gray-text mb-4">CITY</div>                                    
                            <div class="h4">--</div>                                               
                        </div>             
                    </div>

                    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign.sm="start" fxLayoutAlign.xs="start"  fxLayoutAlign="start flex-start" fxFlex="1 0 auto" class="" [ngClass.lg]="'my-16'" [ngClass.md]="'my-16'" [ngClass.sm]="'my-0'" [ngClass.xs]="'my-0'">
                        <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" [ngClass.sm]="'mb-16'" [ngClass.xs]="'mb-16'">
                            <div class="h5 condo-gray-text mb-4">PROVINCE</div>                                    
                            <div class="h4">--</div>                                               
                        </div>
                        <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
                            <div class="h5 condo-gray-text mb-4">POSTAL CODE</div>                                    
                            <div class="h4">--</div>                                               
                        </div>             
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Left Section Ends -->
    <!-- Right Section Starts -->
    <div fxFlex="50" fxFlex.md="50" fxFlex.sm="50" fxFlex.xs="100" [ngClass.lg]="'ml-8'" [ngClass.md]="'ml-8'" [ngClass.sm]="'ml-8'" class="mat-card mat-elevation-z p-32 mt-16">                
        <div class="" fxLayout="column">
            <div class="pr-16 mb-16">
                <div class="h3 font-weight-600">PAYMENT DETAILS                                   
                </div>
            </div>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start flex-start" fxLayoutAlign.sm="start" fxLayoutAlign.xs="start" class="my-16">                                
                <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" [ngClass.sm]="'mb-16'" [ngClass.xs]="'mb-16'">
                    <div class="h5 condo-gray-text mb-4">NAME ON CREDIT CARD</div>                                    
                    <div class="h4">--</div>                                               
                </div> 

                <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
                    <div class="h5 condo-gray-text mb-4">CREDIT CARD NUMBER</div>                                    
                    <div class="h4">--</div>                                               
                </div>                                 
            </div>

            <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start flex-start" fxLayoutAlign.sm="start" fxLayoutAlign.xs="start" [ngClass.lg]="'my-16'" [ngClass.md]="'my-16'" [ngClass.sm]="'my-0'" [ngClass.xs]="'my-0'">                                
                <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100" [ngClass.sm]="'mb-16'" [ngClass.xs]="'mb-16'">
                    <div class="h5 condo-gray-text mb-4">EXPIRY DATE</div>                                    
                    <div class="h4">--</div>                                               
                </div> 

                <div fxFlex="50" fxFlex.sm="100" fxFlex.xs="100">
                    <div class="h5 condo-gray-text mb-4">SECURITY CODE</div>                                    
                    <div class="h4">--</div>                                               
                </div>                                 
            </div>           
        </div>
    </div>
    <!-- Right Section Ends -->
</div>
<!-- Company Info Section Ends -->

















