<div fxLayout="row" fxLayoutAlign="space-between center">
  <div mat-dialog-title class="">CHANGE PASSWORD</div>
  <mat-dialog-actions align="end" class="mb-12">
    <button mat-button mat-dialog-close style="margin-top:-20px;min-width: 28px !important;" class="p-0">
      <mat-icon class="s-24 condo-red-text" mat-dialog-close>close</mat-icon>
    </button>
  </mat-dialog-actions>

</div>

<mat-dialog-content class="mat-typography">
  <div class="profile-box info-box general" fxLayout="column">
    <form fxLayout="column" name="userForm" [formGroup]="userForm">

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" #passwordWithConfirmation formControlName="password"
          [type]="hide ? 'password' : 'text'">
        <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon class='secondary-text pt-8'>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </a>
      </mat-form-field>

      <div class="form-group">
        <label class="col"
          [ngClass]="userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">{{ userForm.controls['password'].hasError('required') ||
                userForm.controls['password'].hasError('minlength') ? 'cancel' :
                'check_circle' }}</i>
          Must be at least 8 characters!
        </label>
        <label class="col"
          [ngClass]="userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">{{ userForm.controls['password'].hasError('required') ||
                userForm.controls['password'].hasError('hasNumber') ? 'cancel' :
                'check_circle' }}</i>
          Must contain at least 1 number!
        </label>
        <label class="col"
          [ngClass]="userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">{{ userForm.controls['password'].hasError('required') ||
                userForm.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
                'check_circle' }}</i>
          Must contain at least 1 in Capital Case!
        </label>
        <label class="col"
          [ngClass]="userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
          <i class="material-icons">{{ userForm.controls['password'].hasError('required') ||
                userForm.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                'check_circle' }}</i>
          Must contain at least 1 Letter in Small Case!
        </label>
        <label class="col"
          [ngClass]="userForm.controls['password'].hasError('required') || userForm.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
          <i class="material-icons">{{ userForm.controls['password'].hasError('required') ||
                userForm.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' :
                'check_circle' }}</i>
          Must contain at least 1 Special Character!
        </label>
      </div>



      <mat-form-field appearance="outline">
        <mat-label>Password (Confirm)</mat-label>
        <input matInput type="password" formControlName="passwordConfirm" [type]="hideconfirm ? 'password' : 'text'">
        <a mat-icon-button matSuffix (click)="hideconfirm = !hideconfirm" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hideconfirm">
          <mat-icon class='secondary-text pt-8'>{{hideconfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
        </a>
        <mat-error *ngIf="userForm.get('passwordConfirm').hasError('required')">
          Password confirmation is required
        </mat-error>
        <mat-error *ngIf="!userForm.get('passwordConfirm').hasError('required') &&
                    userForm.get('passwordConfirm').hasError('passwordsNotMatching')">
          Passwords must match
        </mat-error>
      </mat-form-field>

    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="mb-0 pb-0">
  <button mat-button mat-flat-button mat-accent color="accent" [disabled]="userForm.invalid" cdkFocusInitial
    (click)="submitUserData()">UPDATE</button>
  <button mat-button mat-dialog-close class="fuse-navy-50">CANCEL</button>

</mat-dialog-actions>
