<div fxLayout="row" fxLayoutAlign="space-between center">
    <div mat-dialog-title class="pl-12 ">CORPORATION ACCOUNTS HISTORY</div>

    <mat-dialog-actions align="end" class="mb-12">
        <button mat-button mat-dialog-close style="margin-top:-20px;min-width: 28px !important;" class="p-0"><mat-icon class="s-24 condo-red-text" mat-dialog-close>close</mat-icon></button>    
    </mat-dialog-actions>
</div>
<mat-dialog-content class="mat-typography">
    <div class="profile-box info-box general" fxLayout="column">
        <div class="mt-24 ml-24 mb-32" fxLayout="column">
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="mb-24">
                <div><img class="avatar mr-0 mr-sm-16" src="assets/images/no-pic.jpg"></div>
                <div fxLayout="column" fxFlex="40">
                    <div  class="pr-16 font-weight-600 font-size-16">
                        Top Building                    
                    </div>
                    <div class="condo-gray-text font-weight-300">
                        Director
                    </div>
                </div>
                <div class="px-16 condo-gray-text" fxFlex="30">
                    10/12/2018 - 09/04/2019                   
                </div>                        
            </div>
            <mat-divider class="mat-divider pb-24"></mat-divider>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="mb-24">
                <div><img class="avatar mr-0 mr-sm-16" src="assets/images/no-pic.jpg"></div>
                <div fxLayout="column" fxFlex="40">
                    <div  class="pr-16 font-weight-600 font-size-16">
                        Top Building                    
                    </div>
                    <div class="condo-gray-text font-weight-300">
                        Administrator
                    </div>
                </div>
                <div class="px-16 condo-gray-text" fxFlex="30">
                    10/12/2018 - 12/12/2018                  
                </div>                        
            </div>
            
            <mat-divider class="mat-divider pb-24"></mat-divider>
            
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="mb-24">
                <div><img class="avatar mr-0 mr-sm-16" src="assets/images/no-pic.jpg"></div>
                <div fxLayout="column" fxFlex="40">
                    <div  class="pr-16 font-weight-600 font-size-16">
                        Top Building                    
                    </div>
                    <div class="condo-gray-text font-weight-300">
                        Administrator
                    </div>
                </div>
                <div class="px-16 condo-gray-text" fxFlex="30">
                    10/12/2018 - 12/12/2018                  
                </div>                        
            </div>
            
            <mat-divider class="mat-divider pb-24"></mat-divider>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="mb-24">
                <div><img class="avatar mr-0 mr-sm-16" src="assets/images/no-pic.jpg"></div>
                <div fxLayout="column" fxFlex="40">
                    <div  class="pr-16 font-weight-600 font-size-16">
                        Top Building                    
                    </div>
                    <div class="condo-gray-text font-weight-300">
                        Administrator
                    </div>
                </div>
                <div class="px-16 condo-gray-text" fxFlex="30">
                    10/12/2018 - 12/12/2018                  
                </div>                        
            </div>
            <mat-divider class="mat-divider pb-24"></mat-divider>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="mb-24">
                <div><img class="avatar mr-0 mr-sm-16" src="assets/images/no-pic.jpg"></div>
                <div fxLayout="column" fxFlex="40">
                    <div  class="pr-16 font-weight-600 font-size-16">
                        Top Building                    
                    </div>
                    <div class="condo-gray-text font-weight-300">
                        Administrator
                    </div>
                </div>
                <div class="px-16 condo-gray-text" fxFlex="30">
                    10/12/2018 - 12/12/2018                  
                </div>                        
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="pb-24">
    <button mat-button mat-dialog-close class="fuse-navy-50">CANCEL</button>
</mat-dialog-actions>
