<div id="register" fxLayout="column">

  <div id="register-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div id="register-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="logo">
        <img src="assets/images/logos/condo-logo.png">
      </div>

      <h4 class="condo-gray-text">Hi {{userEmail}}</h4>
      <div *ngIf="isNewUser" class="title">Profile Details</div>
      <div *ngIf="isNewUser == false" class="title">Set Password</div>

      <form name="registerForm" [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
        <mat-form-field *ngIf="isNewUser" appearance="outline">
          <mat-label>First Name</mat-label>
          <input matInput required formControlName="firstName">
        </mat-form-field>

        <mat-form-field *ngIf="isNewUser" appearance="outline">
          <mat-label>Last Name</mat-label>
          <input matInput required formControlName="lastName">
        </mat-form-field>

        <mat-form-field *ngIf="isNewUser" appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input type="number" matInput formControlName="phone">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" #passwordWithConfirmation formControlName="password"
            [type]="hide ? 'password' : 'text'">
          <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon class='secondary-text pt-8'>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </a>
        </mat-form-field>


        <div class="form-group">
          <label class="col"
            [ngClass]="registerForm.controls['password'].hasError('required') || registerForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
            <i class="material-icons">{{ registerForm.controls['password'].hasError('required') ||
                registerForm.controls['password'].hasError('minlength') ? 'cancel' :
                'check_circle' }}</i>
            Must be at least 8 characters!
          </label>
          <label class="col"
            [ngClass]="registerForm.controls['password'].hasError('required') || registerForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
            <i class="material-icons">{{ registerForm.controls['password'].hasError('required') ||
                registerForm.controls['password'].hasError('hasNumber') ? 'cancel' :
                'check_circle' }}</i>
            Must contain at least 1 number!
          </label>
          <label class="col"
            [ngClass]="registerForm.controls['password'].hasError('required') || registerForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
            <i class="material-icons">{{ registerForm.controls['password'].hasError('required') ||
                registerForm.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
                'check_circle' }}</i>
            Must contain at least 1 in Capital Case!
          </label>
          <label class="col"
            [ngClass]="registerForm.controls['password'].hasError('required') || registerForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
            <i class="material-icons">{{ registerForm.controls['password'].hasError('required') ||
                registerForm.controls['password'].hasError('hasSmallCase') ? 'cancel' :
                'check_circle' }}</i>
            Must contain at least 1 Letter in Small Case!
          </label>
          <label class="col"
            [ngClass]="registerForm.controls['password'].hasError('required') || registerForm.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
            <i class="material-icons">{{ registerForm.controls['password'].hasError('required') ||
                registerForm.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' :
                'check_circle' }}</i>
            Must contain at least 1 Special Character!
          </label>
        </div>


        <!-- <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput type="password" #passwordWithConfirmation formControlName="password"
            [type]="hide ? 'password' : 'text'">

          <a mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon class='secondary-text pt-8'>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </a>
          <mat-error>
            Password contains min. 8 char that inc 1 numeric / upper / lowercase
          </mat-error>
        </mat-form-field> -->

        <!-- <mat-hint align="end" aria-live="polite">
          {{passwordWithConfirmation.value.length}} / 30
        </mat-hint> -->
        <!-- <mat-error>
            Password is required
          </mat-error> -->

        <!-- <mat-password-strength #passwordComponentWithConfirmation (onStrengthChanged)="onStrengthChanged($event)"
          [password]="passwordWithConfirmation.value">
        </mat-password-strength>
        <mat-password-strength-info [passwordComponent]="passwordComponentWithConfirmation">
        </mat-password-strength-info> -->
        <!-- <mat-icon>help_outline</mat-icon> -->

        <mat-form-field appearance="outline" class="mt-16">
          <mat-label>Confirm Password</mat-label>
          <input matInput type="password" formControlName="passwordConfirm" [type]="hideconfirm ? 'password' : 'text'">
          <a mat-icon-button matSuffix (click)="hideconfirm = !hideconfirm" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hideconfirm">
            <mat-icon class='secondary-text pt-8'>{{hideconfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
          </a>
          <mat-error *ngIf="registerForm.get('passwordConfirm').hasError('required')">
            Password confirmation is required
          </mat-error>
          <mat-error *ngIf="!registerForm.get('passwordConfirm').hasError('required') &&
                        registerForm.get('passwordConfirm').hasError('passwordsNotMatching')">
            Passwords must match
          </mat-error>
        </mat-form-field>


        <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
          [disabled]="registerForm.invalid">
          CONTINUE
        </button>

      </form>

    </div>

  </div>

</div>
