<div fxLayout="row" fxLayoutAlign="space-between center">
  <div *ngIf="dialogType == 1" mat-dialog-title class="pl-12">ADD NEW USER</div>
  <div *ngIf="dialogType == 2" mat-dialog-title class="pl-12">EDIT USER</div>
  <mat-dialog-actions align="end" class="mb-12">
    <button mat-button mat-dialog-close style="margin-top:-15px;min-width: 28px !important;" class="p-0">
      <mat-icon class="s-24 condo-red-text" mat-dialog-close>close</mat-icon>
    </button>
  </mat-dialog-actions>
</div>

<mat-dialog-content>
  <!-- <div class="profile-box info-box general" fxLayout="column"> -->
  <form fxLayout="column" name="userForm" [formGroup]="userForm">



    <div class="mt-8" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutAlign.xs="start"
      fxFlex="1 0 auto">

      <mat-form-field appearance="outline" fxFlex="100" class="px-8">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="userForm.get('email').hasError('required')">
          {{mandatory}}
        </mat-error>
        <mat-error *ngIf="userForm.get('email').hasError('pattern')">
          Please Enter Valid Email ID
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutAlign.xs="start" fxFlex="1 0 auto">
      <mat-form-field appearance="outline" fxFlex="100" class="px-8">
        <mat-label>Role</mat-label>
        <mat-select class="account-selection" formControlName="role" placeholder="Province" required>
          <mat-option value="Board Member">Board Member </mat-option>
          <mat-option value="Assistant Manager">Assistant Manager </mat-option>
          <mat-option value="Manager">Manager </mat-option>
        </mat-select>
        <mat-error *ngIf="userForm.get('role').hasError('required')">
          {{mandatory}}
        </mat-error>
      </mat-form-field>

    </div>




    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" [ngClass.xs]="'mb-16'">
      <mat-checkbox appearance="outline" fxFlex="100" class="px-8 condo-gray-text"
        (change)="adminCheckboxTriggered($event)" formControlName="adminRights" [disabled]="shouldAllowAdminEdit">
        Administrator</mat-checkbox>
    </div>
  </form>

  <div align="end" class="pb-0 " [ngClass.xl]="'mr-8'" [ngClass.lg]="'mr-8'" [ngClass.md]="'mr-8'" [ngClass.sm]="'mr-8'" [ngClass.xs]="'mr-8'" fxLayoutAlign="end end">
    <button *ngIf="dialogType == 1" mat-button class="mat-flat-button " color="accent" [disabled]="userForm.invalid"
      (click)="submitUserData()" [ngClass.xs]="'mb-12 '">SEND REQUEST</button>
    <button *ngIf="dialogType == 2" mat-button class="mat-flat-button" color="accent" [disabled]="userForm.invalid"
      (click)="submitUserData()" [ngClass.xs]="'mb-12 '">UPDATE INFO</button>
    <button mat-button mat-flat-button mat-dialog-close class="fuse-navy-50 ml-16"
      [ngClass.xs]="'mb-12 '">CANCEL</button>
  </div>
</mat-dialog-content>
