
<!-- loader.component.html -->
<div class="progress-loader" [hidden]="!loading" >
   <div class="progress-loader1" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center center" [hidden]="!loading" >
    <div class="loading-dots">
        <h1 class="">Loading</h1>
  <h1 class="dot one">.</h1><h1 class="dot two">.</h1><h1 class="dot three">.</h1><h1 class="dot four">.</h1><h1 class="dot five">.</h1>
  
</div>
</div>
</div>


 
<!-- <span>Loading</span>
<span class="l-1"></span>
<span class="l-2"></span>
<span class="l-3"></span>
<span class="l-4"></span>
<span class="l-5"></span>
<span class="l-6"></span> -->