<div fxLayout="row" fxLayoutAlign="space-between center">
  <div mat-dialog-title class="pl-12">NEW EXTERNAL THREAD</div>

  <mat-dialog-actions align="end" class="px-16 mb-12">
    <button mat-button mat-dialog-close style="margin-top:-20px;min-width: 28px !important;" class="p-0">
      <mat-icon class="s-24 condo-red-text" mat-dialog-close>close</mat-icon>
    </button>
  </mat-dialog-actions>

</div>
<mat-dialog-content class="mat-typography">
  <div class="profile-box info-box general" fxLayout="column">
    <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="createThreadExternalform"
      [formGroup]="createThreadExternalform">

      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start center"
        fxLayoutAlign.sm="start" fxLayoutAlign.xs="start" fxFlex="1 0 auto" class="px-16">



        <mat-form-field appearance="outline" fxFlex="100">
          <mat-chip-list #chipList aria-label="Amenity Selection" required="required">
            <mat-chip *ngFor="let org of selectedOrgs" [selectable]="selectable" [removable]="removable"
              (removed)="remove(org)">
              {{org.organizationName}}
              <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>
            <input placeholder="Select Recipients" #tagInput [formControl]="tagCtrl" formControlName="organization"
              [matAutocomplete]="auto" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur">
          </mat-chip-list>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
            <mat-option *ngFor="let org of filteredOrgs | async" [value]="org">
              {{org.organizationName}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

      </div>

      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start center"
        fxLayoutAlign.sm="start" fxLayoutAlign.xs="start" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="100" class="px-16">
          <mat-label>Subject</mat-label>
          <input matInput formControlName="subject" required="required">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start center"
        fxLayoutAlign.sm="start" fxLayoutAlign.xs="start" fxFlex="1 0 auto" class="">
        <mat-form-field appearance="outline" fxFlex="100" class="px-16">

          <mat-label>Description</mat-label>
          <textarea name="description" formControlName="description" matInput type="text" max-rows="6"
            style="height:100px;"></textarea>
        </mat-form-field>
      </div>


      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start top" fxLayoutAlign.xs="start" fxFlex="1 0 auto"
        class="px-16">
        <div class="file-uploader" appearance="outline" fxFlex="100" fxFlex.sm="100" fxFlex.xs="100"
          class="upload-button">
          <div fxLayout="column">
            <span appearance="outline" fxFlex="100" class="px-0">
              <input formControlName="docUploader" hidden type="file" (change)="appendDocumentFiles($event)" multiple
                #fileInput accept="application/pdf,image/*" />
              <button color="accent" class="mat-flat-button bg-transparent" (click)="fileInput.click()"
                aria-label="Add file" [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                <span class="condo-red-text  h4"><strong>
                    <mat-icon class="s-16 font-weight-600 mat-icon" style="vertical-align: center">add_circle</mat-icon>
                    Click here to Add Files
                  </strong></span>
              </button>
            </span>
            <div *ngFor="let docFile of messageAttachments; index as i" fxFlex="100">
              <h4 class="mt-16 ml-16"><span class="condo-red-text mr-6" title="Remove File"
                  (click)="removeDocAttachment(i)">
                  <mat-icon class="s-16 cursor" style="vertical-align: middle">remove_circle_outline</mat-icon>
                </span> {{docFile.name}} - <span class="condo-gray-text">{{docFile.formatedSize}}</span> </h4>
            </div>
          </div>
        </div>
      </div>


      <!-- <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutAlign.sm="start" fxLayoutAlign.xs="start" fxFlex="1 0 auto" class="upload-button mx-16" style="">

                <span appearance="outline" fxFlex="50" class="">
                    <div class="file-uploader font-size-20">
                        <input hidden type="file"  multiple>
                               <button 
                               color="accent"
                               class="mat-flat-button "
                               
                               aria-label="Add file"
                               [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                               <span class="condo-red-text  h4"><strong><mat-icon class="s-16 font-weight-600 mat-icon" style="vertical-align: center">add_circle</mat-icon> Click here to Add Files</strong></span>
                        </button>
                    </div>                      
                </span>
                
            </div>

            <div fxLayout="column" class="mx-16 mt-12">
                <div class="h5 condo-gray-text">
                    <span class="condo-red-text">*</span> Please upload legal documentation showing the most recent elected board member names, and assigned property management company. Our registration team will contact you for verification purposes before activating your profile.
                </div>
                <div class="h5 condo-gray-text">                    
                    Supported files are images and pdfs
                </div>
            </div> -->

    </form>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end" class="px-16 mt-24 mb-12">
  <!-- <button [disabled]="createThreadExternalform.invalid || selectedOrgs.length === 0" mat-button mat-flat-button
    mat-accent color="accent" (click)="postExternalMessage()" class="mb-12">CREATE THREAD</button>
  <button mat-button mat-dialog-close class="fuse-navy-50" [ngClass.xs]="'mt-12'">CANCEL</button> -->

  <button [disabled]="createThreadExternalform.invalid || selectedOrgs.length === 0" mat-button mat-flat-button mat-accent color="accent"
    (click)="postExternalMessage()">CREATE THREAD</button>
  <button mat-button mat-dialog-close class="fuse-navy-50" [ngClass.xs]="'mt-12'">CANCEL</button>

</mat-dialog-actions>
