<div fxLayout="row" fxLayoutAlign="space-between center">
  <div mat-dialog-title class="pl-12">EDIT CORPORATION INFORMATION</div>

  <mat-dialog-actions align="end" class="px-16 mb-12">
    <button mat-button mat-dialog-close style="margin-top:-20px;min-width: 28px !important;" class="p-0">
      <mat-icon class="s-24 condo-red-text" mat-dialog-close>close</mat-icon>
    </button>
  </mat-dialog-actions>

</div>
<mat-dialog-content class="mat-typography">
  <div class="profile-box info-box general mt-8" fxLayout="column">
    <form fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="corpEditform" [formGroup]="corpEditform">
      <div fxLayout.lg="row" fxLayout.md="row" fxLayout.sm="row" fxLayout.xs="column" fxLayoutAlign="start center"
        fxFlex="1 0 auto" class="mb-40 " [ngClass.lg]="'ml-20'" [ngClass.md]="'ml-20'" [ngClass.sm]="'ml-20'"
        [ngClass.xs]="''">
        <div class="" [ngClass.xs]="'mb-32'">
          <img *ngIf="imgURL == null" class="border-radius-100" src="assets/images/client-no-pic.jpg"
            style="width:80px;height:80px">
          <img [src]="imgURL" class="border-radius-100" *ngIf="imgURL" style="width:80px;height:80px">
        </div>

        <span appearance="outline" class="" [ngClass.xs]="''">
          <div class="file-uploader font-size-20">
            <style>
              #file {
                display: none;
              }
            </style>
            <label class="condo-red-text  h5 font-weight-600 upload-btn ml-16 cursor mr-16" [ngClass.xs]="'mt-40'">
              UPLOAD PHOTO<input #file type="file" accept='image/*' (change)="fileEvent(file.files)" id="file">
            </label>
          </div>
        </span>

        <div [ngClass.xs]="'mt-24'">
          <span class="condo-gray-text">MAX 2MB</span>
        </div>

      </div>

      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start center"
        fxLayoutAlign.sm="start" fxLayoutAlign.xs="start" fxFlex="1 0 auto">
        <mat-form-field appearance="outline" fxFlex="60" class="px-16">
          <mat-label>Corporation Name</mat-label>
          <input matInput formControlName="corpName" required="required">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="40" class="px-16">
          <mat-label>Corporation Number</mat-label>
          <input matInput formControlName="corpNumber" required="required">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start center"
        fxLayoutAlign.sm="start" fxLayoutAlign.xs="start" fxFlex="1 0 auto">

        <mat-form-field appearance="outline" fxFlex="25" class="px-16">
          <mat-label>Address</mat-label>
          <input matInput formControlName="address" required="required">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="25" class="px-16">
          <mat-label>City</mat-label>
          <mat-select formControlName="city" (selectionChange)="citySelected($event.value)">
            <mat-option *ngFor="let cityInfo of cityProvinceList" [value]="cityInfo">{{cityInfo.city}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="25" class="px-16">
          <mat-label>Province</mat-label>
          <input readonly matInput formControlName="province" required="required" autocomplete="none">
        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="25" class="px-16">
          <mat-label>Postal Code</mat-label>
          <input matInput formControlName="postalCode" [disabled]="true" required="required">
        </mat-form-field>

      </div>
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center" fxLayoutAlign.xs="start" fxFlex="1 0 auto">

        <mat-form-field appearance="outline" fxFlex="50" class="px-16">
          <mat-label>Phone Number</mat-label>
          <input matInput formControlName="phoneNumber" required="required">

        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="50" class="px-16">
          <mat-label>Fax</mat-label>
          <input matInput formControlName="fax">

        </mat-form-field>

      </div>
      <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="start center"
        fxLayoutAlign.sm="start" fxLayoutAlign.xs="start" fxFlex="1 0 auto">

        <mat-form-field appearance="outline" fxFlex="33" class="px-16">
          <mat-label>General Email</mat-label>
          <input matInput formControlName="generalEmail" required class="">

        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="33" class="px-16">
          <mat-label>Management Email</mat-label>
          <input matInput formControlName="managementEmail" class="">

        </mat-form-field>

        <mat-form-field appearance="outline" fxFlex="34" class="px-16">
          <mat-label>Board Email</mat-label>
          <input matInput formControlName="boardEmail" class="">

        </mat-form-field>
      </div>

      <div *ngIf="currentUser.userType == 3" class="" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="pr-16 mt-8" [ngClass.lg]="'mb-32'" [ngClass.md]="'mb-32'" [ngClass.sm]="'mb-32'"
          [ngClass.xs]="'mb-16'">
          <div class="h3 font-weight-600">UPLOADED DOCUMENTS</div>
        </div>
      </div>

      <div *ngIf="currentUser.userType == 3" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start top"
        fxLayoutAlign.xs="start" fxFlex="1 0 auto">
        <div class="file-uploader" appearance="outline" fxFlex="70" fxFlex.sm="60" fxFlex.xs="100"
          class="upload-button">
          <div fxLayout="column">
            <span appearance="outline" fxFlex="100" class="px-0">
              <input hidden type="file" (change)="appendDocumentFiles($event)" multiple #fileInput
                accept="application/pdf,image/*" />
              <button color="accent" class="mat-flat-button bg-transparent" (click)="fileInput.click()"
                aria-label="Add file" [@animate]="{value:'*', params:{delay:'300ms',scale:'0.2'}}">
                <span class="condo-red-text  h4"><strong>
                    <mat-icon class="s-16 font-weight-600 mat-icon" style="vertical-align: center">add_circle
                    </mat-icon>
                    Click here to Add Files
                  </strong></span>
              </button>
            </span>

            <div *ngFor="let docFile of docFileList; index as i" fxFlex="100">
              <h4 class="mt-16 ml-16"><span class="condo-red-text mr-6" title="Remove File"
                  (click)="removeDocAttachment(i)">
                  <mat-icon class="s-16 cursor" style="vertical-align: middle">remove_circle_outline</mat-icon>
                </span> {{docFile.name}} - <span class="condo-gray-text">{{docFile.formatedSize}}</span> </h4>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="currentUser.userType == 3" fxLayout="column" class=" mt-12">
        <div class="h5 condo-gray-text"> <span class="condo-red-text">*</span>
          Supported files are images and pdfs
        </div>
      </div>
    </form>
  </div>
  <mat-dialog-actions align="end" class="px-16 mt-8 mb-4">
    <button mat-button class="mat-flat-button" color="accent" [disabled]="corpEditform.invalid"
      (click)="update()">UPDATE</button>
    <button mat-button mat-dialog-close class="fuse-navy-50">CANCEL</button>
  </mat-dialog-actions>
</mat-dialog-content>
