
<div fxLayout="row" fxLayoutAlign="space-between center">
    <div  mat-dialog-title class="">NOTIFICATIONS</div>   
    <mat-dialog-actions align="end" class="mb-12">
        <button mat-button mat-dialog-close style="margin-top:-15px;min-width: 28px !important;" class="p-0"><mat-icon class="s-24 condo-red-text" mat-dialog-close>close</mat-icon></button>    
    </mat-dialog-actions>
</div>

<mat-dialog-content class="tool-menu">

    <ul *ngFor="let notification of notifications" class="p-0 my-0">

        <li fxLayout="row" fxLayoutAlign="start space-between">                        
            <div class="avatar ng-star-inserted new-project">N</div>
            <div fxLayout="column" fxFlex="100"  fxLayoutAlign="start space-between">
                <h4 class="m-0 p-0 condo-gray-text">{{notification.title}}</h4>
                <h5 class="m-0 p-0 condo-gray-text" >{{notification.description}}</h5>
                <h5 class="m-0 p-0 mt-4 text-small condo-gray-text" fxLayout="row"  fxLayoutAlign="space-between start">
                    <div>{{notification.fromUserName}}</div>
                    <div class="font-size-12 condo-lgray-text"><em>{{notification.notificationDate}}</em></div>
                </h5>
            </div>
        </li>

        <!-- <li fxLayout="row" fxLayoutAlign="start space-between">                        
            <div class="avatar ng-star-inserted new-project">N</div>
            <div fxLayout="column" fxFlex="100"  fxLayoutAlign="start space-between">
                <h5 class="m-0 p-0 condo-gray-text" >New Project - Asian Paints with tags paint, brush </h5>
                <h5 class="m-0 p-0 mt-4 text-small condo-gray-text" fxLayout="row"  fxLayoutAlign="space-between start">
                    <div>Username</div>
                    <div class="font-size-12 condo-lgray-text"><em>12/12/2019</em></div>
                </h5>
            </div>
        </li>

        <li fxLayout="row"  fxLayoutAlign="start space-between">                        
            <div class="avatar ng-star-inserted alert">E</div>
            <div fxLayout="column" fxFlex="100"  fxLayoutAlign="start space-between">
                <h5 class="m-0 p-0 condo-gray-text" >Project name is expiring in 48 hours </h5>
                <h5 class="m-0 p-0 mt-4 text-small condo-gray-text" fxLayout="row"  fxLayoutAlign="space-between start">
                    <div>Username</div>
                    <div class="font-size-12 condo-lgray-text"><em>12/12/2019</em></div>
                </h5>
            </div>
        </li>

        <li fxLayout="row" fxLayoutAlign="start space-between">                        
            <div class="avatar ng-star-inserted changes">C</div>
            <div fxLayout="column" fxFlex="100"  fxLayoutAlign="start space-between">
                <h5 class="m-0 p-0 condo-gray-text" >Changes - Asian paints project made changes </h5>
                <h5 class="m-0 p-0 mt-4 text-small condo-gray-text" fxLayout="row"  fxLayoutAlign="space-between start">
                    <div>Username</div>
                    <div class="font-size-12 condo-lgray-text"><em>12/12/2019</em></div>
                </h5>
            </div>
        </li>

        <li fxLayout="row" fxLayoutAlign="start space-between">                        
            <div class="avatar ng-star-inserted new-project">N</div>
            <div fxLayout="column" fxFlex="100"  fxLayoutAlign="start space-between">
                <h5 class="m-0 p-0 condo-gray-text" >New Message - received a new message </h5>
                <h5 class="m-0 p-0 mt-4 text-small condo-gray-text" fxLayout="row"  fxLayoutAlign="space-between start">
                    <div>Username</div>
                    <div class="font-size-12 condo-lgray-text"><em>12/12/2019</em></div>
                </h5>
            </div>
        </li>

        <li fxLayout="row" fxLayoutAlign="start space-between">                        
            <div class="avatar ng-star-inserted new-project">N</div>
            <div fxLayout="column" fxFlex="100"  fxLayoutAlign="start space-between">
                <h5 class="m-0 p-0 condo-gray-text" >New Review - Review for the project Asian paints </h5>
                <h5 class="m-0 p-0 mt-4 text-small condo-gray-text" fxLayout="row"  fxLayoutAlign="space-between start">
                    <div>Username</div>
                    <div class="font-size-12 condo-lgray-text"><em>12/12/2019</em></div>
                </h5>
            </div>
        </li> -->


    </ul>

    <!-- <ul class="p-0 my-0">
                    <li fxLayout="row" fxLayoutAlign="start space-between">                        
                        <div class="avatar ng-star-inserted new-project">N</div>
                        <div fxLayout="column" fxFlex="100"  fxLayoutAlign="start space-between">
                            <h5 class="m-0 p-0 condo-gray-text" >New Project - Asian Paints with tags paint, brush Asian Paints with tags paint, brush </h5>
                            <h5 class="m-0 p-0 mt-4 text-small condo-gray-text" fxLayout="row"  fxLayoutAlign="space-between start">
                                <div>Username</div>
                                <div class="font-size-12 condo-lgray-text"><em>12/12/2019</em></div>
                            </h5>
                        </div>
                    </li>

                    <li fxLayout="row"  fxLayoutAlign="start space-between">                        
                        <div class="avatar ng-star-inserted alert">E</div>
                        <div fxLayout="column" fxFlex="100"  fxLayoutAlign="start space-between">
                            <h5 class="m-0 p-0 condo-gray-text" >Project name is expiring in 48 hours </h5>
                            <h5 class="m-0 p-0 mt-4 text-small condo-gray-text" fxLayout="row"  fxLayoutAlign="space-between start">
                                <div>Username</div>
                                <div class="font-size-12 condo-lgray-text"><em>12/12/2019</em></div>
                            </h5>
                        </div>
                    </li>

                    <li fxLayout="row" fxLayoutAlign="start space-between">                        
                        <div class="avatar ng-star-inserted changes">C</div>
                        <div fxLayout="column" fxFlex="100"  fxLayoutAlign="start space-between">
                            <h5 class="m-0 p-0 condo-gray-text" >Changes - Asian paints project made changes </h5>
                            <h5 class="m-0 p-0 mt-4 text-small condo-gray-text" fxLayout="row"  fxLayoutAlign="space-between start">
                                <div>Username</div>
                                <div class="font-size-12 condo-lgray-text"><em>12/12/2019</em></div>
                            </h5>
                        </div>
                    </li>

                    <li fxLayout="row" fxLayoutAlign="start space-between">                        
                        <div class="avatar ng-star-inserted new-project">N</div>
                        <div fxLayout="column" fxFlex="100"  fxLayoutAlign="start space-between">
                            <h5 class="m-0 p-0 condo-gray-text" >New Message - received a new message </h5>
                            <h5 class="m-0 p-0 mt-4 text-small condo-gray-text" fxLayout="row"  fxLayoutAlign="space-between start">
                                <div>Username</div>
                                <div class="font-size-12 condo-lgray-text"><em>12/12/2019</em></div>
                            </h5>
                        </div>
                    </li>
                    
                    <li fxLayout="row" fxLayoutAlign="start space-between">                        
                        <div class="avatar ng-star-inserted bid-project">B</div>
                        <div fxLayout="column" fxFlex="100"  fxLayoutAlign="start space-between">
                            <h5 class="m-0 p-0 condo-gray-text" >Bid - received a new bid from the competitor  </h5>
                            <h5 class="m-0 p-0 mt-4 text-small condo-gray-text" fxLayout="row"  fxLayoutAlign="space-between start">
                                <div>Username</div>
                                <div class="font-size-12 condo-lgray-text"><em>12/12/2019</em></div>
                            </h5>
                        </div>
                    </li>

                    <li fxLayout="row" fxLayoutAlign="start space-between">                        
                        <div class="avatar ng-star-inserted new-project">N</div>
                        <div fxLayout="column" fxFlex="100"  fxLayoutAlign="start space-between">
                            <h5 class="m-0 p-0 condo-gray-text" >New Review - Review for the project Asian paints </h5>
                            <h5 class="m-0 p-0 mt-4 text-small condo-gray-text" fxLayout="row"  fxLayoutAlign="space-between start">
                                <div>Username</div>
                                <div class="font-size-12 condo-lgray-text"><em>12/12/2019</em></div>
                            </h5>
                        </div>
                    </li>
                </ul> -->
</mat-dialog-content>
<mat-dialog-actions align="center" class="pb-16 mr-16">
    <button mat-button mat-dialog-close  mat-flat-button  class="condo-red-500">CLOSE</button>
    
</mat-dialog-actions>
