<div id="profile" class="page-layout simple tabbed">
    <div id="about" class="p-32" fxLayout="row wrap">

        <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="100">

            <div class="pr-16 mb-16">
                <div class="h2 condo-gray-text">FREQUENTLY ASKED QUESTIONS</div>
            </div>

            <mat-accordion class="faqs-accordion">
                <mat-expansion-panel class="condo-gray-text line-height-60">
                    <mat-expansion-panel-header>
                        <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="mr-12 s-20 secondary-text">help_outline</mat-icon>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                    
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                </mat-expansion-panel>

                <mat-expansion-panel class="condo-gray-text line-height-60">
                    <mat-expansion-panel-header>
                        <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="mr-12 s-20 secondary-text">help_outline</mat-icon>
                            Ipsum is simply dummy text of the printing and typesetting.
                        </mat-panel-title>
                    </mat-expansion-panel-header>                   
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                </mat-expansion-panel>
                
                <mat-expansion-panel class="condo-gray-text line-height-60">
                    <mat-expansion-panel-header>
                        <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="mr-12 s-20 secondary-text">help_outline</mat-icon>
                            Simply dummy text of the printing and typesetting industry.
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.                                       
                </mat-expansion-panel>
                
                <mat-expansion-panel class="condo-gray-text line-height-60">
                    <mat-expansion-panel-header>
                        <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="mr-12 s-20 secondary-text">help_outline</mat-icon>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                    
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                </mat-expansion-panel>
                
                <mat-expansion-panel class="condo-gray-text line-height-60">
                    <mat-expansion-panel-header>
                        <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="mr-12 s-20 secondary-text">help_outline</mat-icon>
                            Simply dummy text of the printing and typesetting industry.
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                    
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                </mat-expansion-panel>
                
                <mat-expansion-panel class="condo-gray-text line-height-60">
                    <mat-expansion-panel-header>
                        <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="mr-12 s-20 secondary-text">help_outline</mat-icon>
                            Ipsum is simply dummy text of the printing and typesetting.
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                    
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
                </mat-expansion-panel>
                
                <mat-expansion-panel class="condo-gray-text line-height-60">
                    <mat-expansion-panel-header>
                        <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
                            <mat-icon class="mr-12 s-20 secondary-text">help_outline</mat-icon>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
                                       
                </mat-expansion-panel>
            </mat-accordion>

        </div>
    </div>
</div>