<div fxLayout="row" fxLayoutAlign="space-between center">
  <div mat-dialog-title class="">CHANGE PASSWORD</div>
  <mat-dialog-actions align="end" class="mb-12">
    <button mat-button mat-dialog-close style="margin-top:-20px;min-width: 28px !important;" class="p-0">
      <mat-icon class="s-24 condo-red-text" mat-dialog-close>close</mat-icon>
    </button>
  </mat-dialog-actions>

</div>

<mat-dialog-content class="mat-typography">
  <div class="profile-box info-box general" fxLayout="column">
    <form fxLayout="column" name="userForm" [formGroup]="userForm">


      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
        <mat-error>
          Password is required
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password (Confirm)</mat-label>
        <input matInput type="password" formControlName="passwordConfirm">
        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
        <mat-error *ngIf="userForm.get('passwordConfirm').hasError('required')">
          Password confirmation is required
        </mat-error>
        <mat-error *ngIf="!userForm.get('passwordConfirm').hasError('required') &&
                                           userForm.get('passwordConfirm').hasError('passwordsNotMatching')">
          Passwords must match
        </mat-error>
      </mat-form-field>

    </form>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" class="mb-0 pb-0">
  <button mat-button mat-flat-button mat-accent color="accent" [mat-dialog-close]="userForm.value"
    [disabled]="userForm.invalid" cdkFocusInitial (click)="editCorporation()">UPDATE</button>
  <button mat-button mat-dialog-close class="fuse-navy-50">CANCEL</button>
</mat-dialog-actions>
