<mat-toolbar>
    <div fxLayout="row wrap " fxLayoutAlign="space-between start" fxFlex class="font-size-12">
        <p class="footer-content">All Rights Reserved. Copyrights © Nightingales Systems Inc.</p>
        <p class="footer-content"> Having Problem with the site? &nbsp; <a href="https://condonuitystaticdev.z13.web.core.windows.net/contact.html" target="_blank">
            Contact Us</a></p>
        <p class=""><a href="https://condonuitystaticdev.z13.web.core.windows.net/terms.html" target="_blank">Terms and Conditions</a> <span class="mx-12">|</span> <a href="https://condonuitystaticdev.z13.web.core.windows.net/privacy.html" target="_blank">Privacy Policy</a></p>

		<!-- <p><a (click)="openTermsConditionDialog()">Terms and Conditions</a> <span class="mx-12">|</span> <a (click)="openPrivacyPolicyDialog()">Privacy Policy</a></p> -->
    </div>

</mat-toolbar>
