
<div fxLayout="row" fxLayoutAlign="space-between center" style="background:#d84d34;">
    <div  mat-dialog-title class="mt-20 ml-16" fxLayoutAlign="space-between center" style="color:#fff;">PRIVACY POLICY</div>   
    <mat-dialog-actions align="end">
        <button  mat-dialog-close style="margin-top:-13px;margin-left:-30px;min-width: 28px !important;position:absolute;background:#fff;border-radius:4px;border:none;" ><mat-icon class="s-26 condo-red-text"  mat-dialog-close>close</mat-icon></button>    
    </mat-dialog-actions>
</div>

<mat-dialog-content class="tool-menu" style="margin:0px !important">
    
	<div fxLayoutAlign="center center" fxLayout="row" class="mt-12">
	<img class="text-center"  [ngClass.sm]="''"
                  [ngClass.xs]="'text-center'" src="assets/images/logos/condo-logo.png" style="width:17%;margin-left:-7px; margin-bottom:-20px;">
				  </div>
	
	<div  class="px-16" >
	
                <p class="text-justify">
                    <b> Last Modified: May 18, 2020</b>
                </p>
                <p class="text-justify line-height-30 condo-gray-text">
                   Nightingales Systems Inc. operating as Condonuity (<b>“Condonuity”, "we", "us"</b> or <b>"our"</b>)  is a corporation formed pursuant to the Business Corporations Act, RSO 1990, c B.16  in Ontario, Canada. Further to our terms of use (<a href="http://condonuity.ca/terms" target="blank">http://condonuity.ca/terms</a>) (the “Terms”), this Privacy Policy sets out how we collect, store and use personal information and cookies.  Unless otherwise indicated, any capitalized terms in this Privacy Policy have the same meaning attributed to them in our Terms. 
</p>
<p class="text-justify line-height-30 condo-gray-text">
                   By agreeing to our Terms or by using the Condonuity Platform, you consent to the collection and use of personal information in accordance with this Privacy Policy, which we may update from time to time. 
					</p>
					
					<p class="text-justify">
                    <b> PART I: COLLECTION OF PERSONAL INFORMATION</b>
					</p>
					
					<p class="text-justify">
                    <b> The Personal Information of Other Individuals</b>
					</p>
					
					<p class="text-justify line-height-30 condo-gray-text">
					To the extent you (or your users) provide us with, or upload data that includes the personal information of another individual, you represent and warrant that you have that individual’s consent to provide us with their information to use in accordance with this Privacy Policy and our Terms. If you do not have their consent, you agree not to upload or provide us with any such personal information. 
					</p>
					<p class="text-justify line-height-30 condo-gray-text">
To establish an account with us or use the Condonuity Platform, we may collect the following personal information:
</p>
 <ul  class="line-height-30 condo-gray-text">
				
<li>	Full name; </li>
<li>	Business name(s); </li>
<li>	Billing Address;</li>
<li>	Email address;</li>
<li>	Phone number;</li>
<li>	Comments, feedback, reviews and other information you elect to upload or provide on Condonuity Platform; </li>
<li>	Internet Protocol (IP) address and corresponding location data;</li>
<li>	To the extent they include any personal information in them, we may also collect, documents which indicate the legal status of a condominium corporation, vendor or their names, such as:</li>
<ul  class="line-height-30 condo-gray-text">

<li>	Periodic Information Certificate; </li>
<li>	Condominium Declaration;</li>
<li>	Business registration documents (incorporation certificates, master business licenses etc.); and </li>
<li>	Business cards;</li>
</ul>
<li> Website statistics and analytics data regarding your use of the Condonuity Platform;</li>
<li>	Profile photos (where you elect to upload them); and</li>
<li>	All other information you provide on the Condonuity Platform or otherwise.</li>
</ul>
                <p class="text-justify">
                    <b> Payment Processing  </b>
                </p>
                <p class="text-justify line-height-30 condo-gray-text">
                    
                  While we do not currently accept credit cards, we may elect to do so in the future. As a result, we may collect credit card and payment information from you via a third-party payment processor.  Although we may host their forms on our website, when you provide your payment details, you are providing them to the applicable payment processor.  You acknowledge that our third-party payment processors may have their own agreements and privacy practices which apply to you. 
                </p>
                <p class="text-justify">
                    <b> PART II: THE USE OF PERSONAL INFORMATION</b>
                </p>
                <p class="text-justify line-height-30 condo-gray-text">
                   We do not sell personal information to third-parties. However, we may use personal information to:
</p>

<ul  class="line-height-30 condo-gray-text">
				
<li>	Facilitate the operation of the Condonuity Platform, including sharing or providing access to personal information to Third-Party Providers, see below for details; </li>
<li>	Bill and collect money owed to us; </li>
<li>	Verify your contact information;</li>
<li>	Provide user support or to support and improve the Condonuity Platform;</li>
<li>	Communicate with you about your account;</li>
<li>	Send or display informational and promotional materials, including advertisements, from us, our partners, Vendors, advertisers or third parties to you. You may unsubscribe from such communications at any time; </li>
<li>	Pursue available legal remedies to us and to prosecute or defend a court, arbitration or similar proceeding;</li>
<li>	To meet legal requirements or seek legal advice from a lawyer in connection with your use of the Condonuity Platform; and</li>
<li>	To enforce compliance with our Terms and applicable laws, rules and regulations.</li>

</ul>


                <p class="text-justify">
                    <b> PART III: THE DISCLOSURE OF PERSONAL INFORMATION</b>
                </p>
				<p class="text-justify">
                    <b> Sharing Personal Information and Content if Required by Law</b>
                </p>
                <p class="text-justify line-height-30 condo-gray-text">
                    We may share personal information and any content collected, uploaded or provided to us if required by law, such as in response to a subpoena, court order or other legal process in any jurisdiction.  If we are required by law to make any disclosure of your personal information or content, we may, but are not obligated to, provide you with written notice of such disclosure, if permitted by law.              
                </p>
                <p class="text-justify">
                    <b> Sharing Personal Information to Cooperate with Investigations and Law Enforcement</b>
                </p>
                <p class="text-justify line-height-30 condo-gray-text">                  
                   Absent a court order, subpoena or other legal requirement to disclose personal information or content in our possession or control, you agree that we may also share personal information and content you upload or which is associated with your account to cooperate with law enforcement authorities in the investigation of any criminal matter if we reasonably believe doing so is necessary or beneficial in protecting your safety, or the safety of any third-party. 
</p>
<p class="text-justify">
                    <b> Sharing Personal Information with Third-Party Providers</b>
                </p>
<p class="text-justify line-height-30 condo-gray-text">
Our suppliers, partners, independent contractors (collectively “<b>Third-Party Providers</b>”) and/or employees, may have access to, or be shared personal information to use in connection with one or more of the purposes for which the information was collected.

                </p>
               
                <p class="text-justify line-height-30 condo-gray-text">
                   Our Third-Party Providers may have access to personal information in providing services to us, or providing you with access to the Condonuity Platform.   We may use a variety of Third-Party Providers in order to host the Condonuity Platform and facilitate its ordinary use, including for example, hosting servers which store personal information. For example, as of the last date this Privacy Policy was updated, our data hosting providers include Microsoft Corporation and their affiliated and related entities. For more information on their privacy practices please see <a href="https://privacy.microsoft.com/en-gb/privacystatement" target="blank">https://privacy.microsoft.com/en-gb/privacystatement</a>.  
					</p>
					<p class="text-justify line-height-30 condo-gray-text">
					We also use Google LLC together with their affiliated entities worldwide, in order to use Google Analytics. For details, visit <a href="https://analytics.google.com/analytics/web/" target="blank">https://analytics.google.com/analytics/web/</a>.
					</p>
					<p class="text-justify">
                    <b> Your Personal Information May Not Be Stored in Canada</b>
                </p>
					<p class="text-justify line-height-30 condo-gray-text">
As we may have servers, Third-Party Providers, employees and other parties we share your personal information with in locations both inside and outside of Canada, your personal information may become subject to foreign laws and foreign legal proceedings.
</p>
<p class="text-justify">
                    <b> Sharing Personal Information if Our Business, Website or Service is Acquired</b>
                </p>
<p class="text-justify line-height-30 condo-gray-text">
We may share personal information with our successors (if our business, the Condonuity Platform is acquired by another legal entity) or any assignee of our assets relating to the Condonuity Platform. Disclosure in such circumstances is governed by the Personal Information Protection and Electronic Documents Act, SC 2000, c 5 in Canada. 

                </p>
                <p class="text-justify">
                    <b> Disclaimer and Warning About Sharing Personal Information Online</b>
                </p>
                <p class="text-justify line-height-30 condo-gray-text">
                     YOU ACKNOWLEDGE THAT WHEN SHARING PERSONAL INFORMATION ONLINE, THERE IS ALWAYS A RISK OF DATA BREACHES, INCLUDING DATA BREACHES IN WHICH THIRD PARTIES UNLAWFULLY ACCESS OUR SYSTEMS, OR THE SYSTEMS OF OUR THIRD-PARTY PROVIDERS, WHICH STORE PERSONAL INFORMATION.


                </p>
                
                <p class="text-justify line-height-30 condo-gray-text">
                    WHILE WE TAKE MEASURES TO PROTECT PERSONAL INFORMATION, YOU AGREE THAT, TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT WILL WE, OUR AFFILIATES, OFFICERS, DIRECTORS, SHAREHOLDERS, EMPLOYEES, CONTRACTORS, AGENTS, THIRD-PARTY PROVIDERS OR LICENSORS BE LIABLE, HOWSOEVER CAUSED, INCLUDING BY WAY OF NEGLIGENCE, FOR THE LOSS OR THEFT OF YOUR PERSONAL INFORMATION OR ANY DAMAGES CAUSED AS A RESULT THEREOF, SO LONG AS WE WERE NOT DIRECTLY AND GROSSLY NEGLIGENT IN THE PROTECTION OF SAID INFORMATION.  
</p>

<p class="text-justify line-height-30 condo-gray-text">
<b>Retention of Your Personal Information</b>
</p>
<p class="text-justify line-height-30 condo-gray-text">
We keep your personal information for as long as it is required for the purpose for which it was collected. There is no single retention period applicable to the various types of personal information collected. 
</p>
<p class="text-justify line-height-30 condo-gray-text">
<b>PART IV: Our Use of Cookies</b>
</p>
<p class="text-justify line-height-30 condo-gray-text">
By using the Condonuity Platform, you consent to our use of cookies. This cookies policy explains what cookies are, how we use them and how Third-Party Providers may also use cookies on, or in connection with the Condonuity Platform. 

                </p>
                <p class="text-justify">
                    <b> What are Cookies?</b>
                </p>
                <p class="text-justify line-height-30 condo-gray-text">
                    Cookies are small text files sent to and automatically downloaded by your web browser (assuming you have cookies enabled) when you visit our Website. A cookie file is stored in your web browser and allows the Condonuity Platform and Third-Party Providers we use to recognize you, track your activity across our and other websites and is usually used in conjunction with logging your IP address.
					</p>
					<p class="text-justify line-height-30 condo-gray-text">
                    Cookies can be "persistent" or "session" cookies. Persistent cookies remain on your computer  (in your browser files) or mobile device when you go offline, while session cookies are deleted as soon as you close your web browser.
					</p>
					
					<p class="text-justify">
                    <b> Can you block the use of Cookies?</b>
                </p>
				<p class="text-justify line-height-30 condo-gray-text">
                    Most web browsers allow you to disable the use of cookies. However, the Condonuity Platform or certain components thereof may not operate properly, and you may not be able to access and use the Condonuity Platform if you disable cookies. 
					</p>
					
					<p class="text-justify">
                    <b> Can you delete Cookies once downloaded?</b>
                </p>
				<p class="text-justify line-height-30 condo-gray-text">
                    Most web browsers also permit you to delete cookies. This is typically done via your web browser’s settings, which vary depending on which web browser you use. For details on managing cookies settings using: 
					</p>
					
					<ul style="" class="line-height-30 condo-gray-text">
					
<li>Chrome - https://support.google.com/accounts/answer/32050; </li>
<li>Firefox - https://support.mozilla.org/en-US/kb/delete-cookies-remove-info-websites-stored;</li>
<li>Safari - https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac; and   </li>
<li>For any other web browser, please visit your web browser's official web pages.</li>

</ul>

				
				<p class="text-justify">
                    <b> How we use Cookies</b>
                </p>
                <p class="text-justify line-height-30 condo-gray-text">
				Our use of cookies is primarily to analyze how you use the Condonuity Platform, for instance which pages you visit most often and where you found our website online. This helps us better understand your user experience and other statistics which we may use to provide a better user experience in future updates. For example, cookies are used in connection with our use of Google LLC’s Google Analytics. For more information on Google Analytics and how cookies are used by Google Analytics, see Google LLC’s information page at <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target="blank">https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage</a>. 
				</p>
				
				
            </div>
			<mat-dialog-actions align="center" class="pb-16 mr-16">
    <button mat-button mat-dialog-close  mat-flat-button  class="condo-red-500"><mat-icon>local_printshop</mat-icon> PRINT</button>
</mat-dialog-actions>
</mat-dialog-content>

