<div id="client-accept-invite" fxLayout="column" *ngIf="validUser">

  <div id="client-accept-invite-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

    <div id="client-accept-invite-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

      <div class="logo">
        <mat-icon class="mat-accent s-82">verified_user</mat-icon>
      </div>

      <div class="title text-bold">Thanks for accepting the invite!!</div>

      <div class="subtitle">
        <p class="line-height-26 condo-gray-text">
          Now you can access the condo profile with <br> <b class="condo-red-text">{{userEmail}}</b>
        </p>
      </div>

      <button mat-flat-button color="accent" class="submit-button register condo-red mt-24 mat-raised-button"
        aria-label="Proceed" [routerLink]="'/auth/login/'">
        LOGIN
      </button>
    </div>
  </div>

</div>

<div id="client-accept-invite" fxLayout="column" *ngIf="!validUser">
  <div id="client-accept-invite-form-wrapper" fxLayout="column" fxLayoutAlign="center center">
    <div id="client-accept-invite-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">
      <div class="logo">
        <mat-icon class="mat-accent s-96">error_outline</mat-icon>
      </div>
      <div class="title">Hi there! The link is either expired or invalid.!!</div>
    </div>
  </div>
</div>
